@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap");
h1,
h2,
h3,
h4,
p,
span,
ul,
li {
  padding: 0 !important;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.05 !important;
}

h1 {
  font-size: 4.768rem;
}

h2 {
  font-size: 3.815rem;
}

h3 {
  font-size: 3.052rem;
}

h4 {
  font-size: 2.641rem;
}

h5 {
  font-size: 1.953rem;
}

p,
li {
  font-size: 1.7rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 1.5rem !important;
}

ul,
ol {
  padding-left: 2.5rem;
}

li {
  padding-left: 0.6rem !important;
}

a {
  text-decoration: none;
}

.stag {
  font-size: 1.4rem !important;
}

.mtag {
  font-size: 1.6rem !important;
}

.ltag {
  font-size: 1.8rem !important;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: calc(4.768rem / 1.2);
  }
  h2 {
    font-size: calc(3.815rem / 1.2);
  }
  h3 {
    font-size: calc(3.052rem / 1.2);
  }
  h4 {
    font-size: calc(2.641rem / 1.2);
  }
  h5 {
    font-size: calc(1.953rem / 1.2);
  }
}
.xsicon {
  font-size: 1.4rem;
}

.sicon {
  font-size: 1.8rem;
}

.micon {
  font-size: 2.2rem;
}

.licon {
  font-size: 2.5rem;
}

.xlicon {
  font-size: 3rem;
}

.dim {
  color: rgb(161, 158, 158);
}

.diml {
  color: rgb(154, 152, 152);
}

.dimd {
  color: rgb(151, 149, 149);
}

.wht {
  color: #fff;
}

.blk {
  color: black !important;
}

.bold4 {
  font-weight: 400;
}

.bold5 {
  font-weight: 500;
}

.bold6 {
  font-weight: 600;
}

.bold7 {
  font-weight: 700;
}

.bold8 {
  font-weight: 800;
}

.bold3 {
  font-weight: 350;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.5rem !important;
  font-family: "Poppins", sans-serif;
  line-height: 1.75;
  color: #333;
}

.nodeco {
  text-decoration: none;
}

.nodeco:hover {
  text-decoration: none;
}

.noblue {
  color: #5fb4af;
}

.noblue a {
  color: #5fb4af;
}

.lstn {
  list-style-type: none;
}

.spacer {
  padding: 1rem;
}

.img100 {
  width: 100%;
}

.dn {
  display: none;
}

.txtl {
  text-align: left;
}

.txtr {
  text-align: right;
}

.txtc {
  text-align: center;
}

.flex {
  display: flex !important;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: flex-end;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-evenly;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

.fw {
  flex-wrap: wrap;
}

.fxd {
  position: fixed;
  z-index: 1000;
}

.rl {
  position: relative !important;
}

.ab {
  position: absolute !important;
}

.wspc {
  word-spacing: 0.4rem;
}

.lspc {
  letter-spacing: 0.05rem;
}

.jumbo {
  font-size: 5.5rem;
}

.jumbo_x {
  font-size: 7rem;
}

.blk1 {
  color: #2e2d2d !important;
}

.whtl {
  color: rgba(255, 255, 255, 0.896);
}

@media only screen and (max-width: 576px) {
  .jumbo {
    font-size: 4.4rem;
  }
}
.p1 {
  padding: 0.5rem 0rem !important;
}

.p2 {
  padding: 1rem 0rem !important;
}

.p3 {
  padding: 1.5rem 0rem !important;
}

.p4 {
  padding: 2rem 0rem !important;
}

.p5 {
  padding: 2.5rem 0rem !important;
}

.p6 {
  padding: 3rem 0rem !important;
}

.px1 {
  padding: 0rem 0.5rem !important;
}

.px2 {
  padding: 0rem 1rem !important;
}

.px3 {
  padding: 0rem 1.5rem !important;
}

.px4 {
  padding: 0rem 2rem !important;
}

.px5 {
  padding: 0rem 2.5rem !important;
}

.px6 {
  padding: 0rem 3rem !important;
}

.pxy1 {
  padding: 1rem;
}

.pxy2 {
  padding: 1.5rem;
}

.pxy3 {
  padding: 2rem;
}

.pxy4 {
  padding: 2.5rem;
}

.pxy5 {
  padding: 3rem;
}

.pxy6 {
  padding: 3.5rem;
}

.m1 {
  margin: 0.6rem 0rem !important;
}

.m2 {
  margin: 1rem 0rem !important;
}

.m3 {
  margin: 1.5rem 0rem !important;
}

.m4 {
  margin: 2rem 0rem !important;
}

.m5 {
  margin: 2.5rem 0rem !important;
}

.m6 {
  margin: 3rem 0rem !important;
}

.mb1 {
  margin-bottom: 0.6rem !important;
}

.mb2 {
  margin-bottom: 1rem !important;
}

.mb3 {
  margin-bottom: 1.5rem !important;
}

.mb4 {
  margin-bottom: 2rem !important;
}

.mb5 {
  margin-bottom: 2.5rem !important;
}

.mb6 {
  margin-bottom: 3rem !important;
}

.mxy1 {
  margin: 0.6rem !important;
}

.mxy2 {
  margin: 1rem !important;
}

.mxy3 {
  margin: 1.5rem !important;
}

.mxy4 {
  margin: 2rem !important;
}

.mxy5 {
  margin: 2.5rem !important;
}

.mxy6 {
  margin: 3rem !important;
}

.neg_mt {
  margin-top: -10rem;
}

.lshd {
  box-shadow: 5px 5px 10px 0 rgba(196, 192, 192, 0.171);
}

.container {
  max-width: 117rem !important;
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 90% !important;
  }
}
.instyle {
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  color: #333;
  outline: none;
  padding: 0.8rem;
}

.instyle:focus {
  border: 1px solid rgb(180, 180, 180) !important;
}

.sbtn {
  padding: 0.8rem;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.sbtn:hover {
  background-color: rgb(247, 247, 247);
}

.mbtn {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.mbtn:hover {
  background-color: rgb(247, 247, 247);
}

.lbtn {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  background-color: #333;
  transition: all 0.2s ease;
}

.lbtn:hover {
  background-color: rgb(247, 247, 247);
}

.section-xs,
.section-s,
.section-m,
.section-l,
.section-lx {
  width: 100%;
}

.section {
  padding: 5rem 0rem;
}

.section-xs {
  padding: 1rem 0rem;
}

.section-s {
  padding: 3rem 0rem;
}

.section-m {
  padding: 4rem 0rem;
}

.section-l {
  padding: 6rem 0rem;
}

.section-lx {
  padding: 8rem 0rem;
}

@media screen and (max-width: 780px) {
  .section {
    padding: 4.1666666667rem 0rem;
  }
  .section-xs {
    padding: 0.8333333333rem 0rem;
  }
  .section-s {
    padding: 2.5rem 0rem;
  }
  .section-m {
    padding: 3.3333333333rem 0rem;
  }
  .section-l {
    padding: 5rem 0rem;
  }
  .section-lx {
    padding: 6.6666666667rem 0rem;
  }
}
.site_header {
  background-color: #181818;
}

.logo {
  width: 4.6rem !important;
}

.logotxt {
  font-size: 2rem;
}

@media screen and (max-width: 780px) {
  .logo {
    width: 4rem !important;
  }
}
.wordblock__heading {
  font-weight: 800 !important;
  line-height: 5.5rem;
  font-size: 5rem;
}
.wordblock__heading--subhead {
  font-size: 4rem;
  font-weight: 700 !important;
  line-height: 5.5rem;
}
.wordblock__para {
  line-height: 2.5rem;
}

.footer_1 {
  background-color: rgb(253, 253, 253);
}

.footer_1--links {
  color: rgb(77, 77, 77);
}

.footer_1--links:hover {
  color: rgb(54, 100, 252);
}

.footer_1--bottombar {
  border-top: 2px solid rgb(165, 165, 165);
}

.fecard {
  text-align: center;
}
.fecard_title {
  font-size: 2.2rem;
  font-weight: 200;
}

.vdcard {
  height: 45rem;
  background-color: #eee;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.vdcard_img {
  width: 100%;
  height: 100%;
}

.vdcard_content {
  width: max-content;
  background-color: rgb(247, 247, 247);
  color: rgb(41, 41, 41);
  padding: 2rem;
  position: absolute;
  top: 75%;
  left: 2%;
  transform: translateX(-140%);
  transition: transform 0.3s ease;
}

.vdcard:hover .vdcard_content {
  transform: translateX(7%);
}

.svc_card {
  margin: 2rem;
  min-height: 25rem;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.363);
  padding: 2.8rem;
}
.svc_card--title {
  font-size: 2.3rem;
}
.svc_card--icon {
  width: 5rem;
}

.card1_bck {
  background-color: #eee;
}

.card1 {
  box-shadow: 10px 10px 15px rgba(145, 157, 168, 0.16) !important;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  min-height: 23rem;
  transition: all 0.3s ease-out;
}

.card1_icon {
  width: 86%;
}

.card1_para {
  margin-top: 3rem !important;
}

.footer_icon {
  margin-top: 6rem;
}

.footer_icon img {
  width: 8% !important;
}

@media only screen and (max-width: 992px) {
  .footer_icon img {
    width: 4% !important;
  }
}
.icon_xs {
  width: 2rem;
  padding: 0.3rem;
}

.icon_s {
  width: 3.6rem !important;
  padding: 0.3rem;
}

.icon_m {
  width: 8rem;
  padding: 0.3rem;
}

.icon_x {
  width: 12rem;
  padding: 0.3rem;
}

@media only screen and (max-width: 799px) {
  .icon_x {
    width: 15rem;
  }
}
@media only screen and (max-width: 576px) {
  .icon_x {
    width: 13rem;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 97% !important;
  }
  .hero_title {
    padding: 4rem 0rem;
    margin-bottom: 2rem;
  }
  .h1_jumbo {
    font-size: 3.1rem;
  }
  .hero_btn {
    width: 40%;
  }
}
.error {
  color: rgb(207, 22, 22);
}

.success {
  color: green;
}

.auth {
  background-color: #eee;
  height: 100vh;
}

.auth_btn {
  width: 100%;
  background-color: rgb(22, 21, 41);
  color: #fff;
}

.auth_btn:hover {
  background-color: rgb(22, 21, 41);
  background-color: rgb(40, 38, 66);
}

.section_header {
  background-color: #7e89fd;
}

.section_handsontech {
  background-color: #f0f4ff;
}

.hero_wordblock {
  background-image: url("../../images/header_bgsvg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero_wordblock-title {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 700;
  color: #fff;
}
.hero_wordblock-para {
  font-size: 1.9rem !important;
  line-height: 3.2rem;
  color: #fff;
}
.hero_wordblock-btn {
  background-color: #ffc933;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 800;
  font-size: 2.5rem;
  border-radius: 2px;
  min-width: 20rem;
}

.technos {
  background-color: #333;
}
.technos_icon {
  width: 5.8rem;
  margin: 0 1rem;
  color: #fff;
}

.tech_icon {
  width: 6.7rem;
  padding: 1rem;
  transition: all 0.2s ease;
}

.tech_icon path {
  fill: rgb(114, 114, 114);
}

.tech_icon:hover path {
  transition: all 0.2s ease;
  fill: #ffc933;
}

.cleancode {
  background-color: #ffc933;
}
.cleancode_blob {
  background-image: url("../../images/bg_blob2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.framworks_heading {
  color: #ffc933;
}

.plans_title {
  font-weight: 600;
  color: #f00d00;
}
.plans_price {
  font-size: 3rem;
  font-weight: 600;
}
.plans_items {
  padding: 0.5rem 0 !important;
}

.wordpress {
  background-image: url("../../images/blob_3.svg");
  background-repeat: no-repeat;
  background-size: 60% rem;
}

.process {
  background-color: #333;
  color: #fff !important;
}

.getstart {
  background-color: rgb(248, 248, 248);
}

.GetStart_inp {
  width: 35%;
}

.letsconnect {
  background-color: rgb(248, 248, 248);
}

@media screen and (max-width: 780px) {
  .hero_wordblock-title {
    font-size: 5rem;
    line-height: 6rem;
  }
  .hero_wordblock-para {
    font-size: 1.6rem !important;
    line-height: 2.5rem;
  }
  .hero_wordblock-btn {
    font-size: 2.3rem;
    border-radius: 2px;
    min-width: 18rem;
  }
  .hero_img {
    width: 80%;
  }
}
.framworks {
  background-color: #333;
  color: #fff !important;
}

.testmycss {
  color: pink;
}

.hgt {
  height: 40rem;
}

.hgt1 {
  height: 20rem;
}

.oh {
  overflow: hidden;
}

.grid_text {
  bottom: 4%;
  left: 3%;
  color: white;
}

.grid_tag {
  background-color: rgb(88, 88, 88);
  width: max-content;
  font-size: 0.9rem !important;
  padding: 0.3rem !important;
  border-radius: 0.3rem;
}

.grid_sq {
  left: 5%;
  color: white;
  top: 60%;
}

.grd {
  background-image: linear-gradient(black black);
}

.container {
  max-width: 116rem;
}

.abt1_bg {
  background-color: rgba(184, 202, 212, 0.185);
  border-radius: 0.5rem;
}

.abt1_content {
  padding: 7rem;
}

.abt1_img {
  width: 54%;
  top: 16%;
  left: 59%;
}

.abt1_img img {
  border-radius: 0.5rem;
  box-shadow: 5px 10px 18px #888888;
}

.team {
  margin-top: 6.3rem;
  text-align: center !important;
}

.main_img {
  margin: 3rem;
}

.blue {
  color: #2d94f3;
}

.bck {
  background-image: url(/images/pattern-6.svg);
}

.counter_bck {
  background-image: url(/images/team-counter-illustration.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}

.column-4 {
  width: 40%;
  max-width: 40%;
  padding: 0 0.5rem;
}

.column-8 {
  width: 60%;
  max-width: 60%;
  padding: 0 0.5rem;
}

.column-6 {
  width: 50%;
  max-width: 50%;
  padding: 0 0.5rem;
}

.box5 {
  overflow: hidden !important;
}

.box5:hover .box5img {
  transition: 2s ease;
  transform: scale(1.1);
}

.box5:hover .box6img {
  transition: 2s ease;
  transform: scale(1.1);
}

.box5img {
  width: 100%;
  height: 80vh !important;
}

.box6img {
  width: 100%;
  height: 40vh !important;
}

.bclr {
  background-color: rgb(231, 231, 231);
}

.w120 {
  width: 120%;
}

.card {
  box-shadow: 10px 10px 15px rgba(145, 157, 168, 0.16) !important;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.card_content {
  padding: 1rem;
}

.card_title {
  margin-top: 2rem;
}

.card_img {
  width: 17%;
}

.heart_img {
  width: 8%;
}

.video {
  width: 100%;
  height: 130%;
}

.photo img {
  border-radius: 1rem;
}

.photo_bck {
  background-image: url(/images/pattern-2.svg);
  background-size: cover;
  background-color: #f1f6fc;
}

.photo_title {
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

.vow_btn {
  border: 2px solid #2d94f3;
  padding: 0.7rem 2rem;
  color: #2d94f3;
}

@media only screen and (max-width: 1200px) {
  .abt1_img {
    width: 47%;
    top: 35.5%;
    left: 69%;
  }
}
@media only screen and (max-width: 992px) {
  .column-4 {
    width: 100%;
    max-width: 100%;
  }
  .column-8 {
    width: 100%;
    max-width: 100%;
  }
  .column-6 {
    width: 100%;
    max-width: 100%;
  }
  .w120 {
    width: 100%;
  }
  .box5img {
    width: auto;
    height: auto !important;
  }
  .box6img {
    width: auto;
    height: auto !important;
  }
  .abt1_img {
    width: 40%;
    top: 27.5%;
    left: 57%;
  }
  .tc {
    text-align: start;
  }
  .video {
    height: 176%;
  }
}
@media only screen and (max-width: 768px) {
  .abt1_img {
    width: 54%;
    top: -36.5%;
    left: 25%;
  }
  .video {
    height: 167%;
  }
  .designation {
    line-height: 1.6 !important;
  }
}
@media only screen and (max-width: 576px) {
  .ltag {
    font-size: 1.6rem !important;
  }
  .fw {
    flex-wrap: wrap;
  }
  .abt1_content {
    padding: 1rem;
    margin-top: 6rem;
  }
  .abt1_img {
    width: 71%;
    top: -23.5%;
    left: 15%;
  }
  .mrg {
    margin-top: 0rem;
  }
  .disn {
    display: none;
  }
  .tc {
    text-align: center;
  }
  .mot_title {
    font-size: 3.3rem;
    font-weight: 500;
  }
  .blue_text {
    margin: 0% !important;
  }
  .main_img {
    margin: 0;
  }
  .blue {
    font-size: 3rem;
    margin-top: 6.5rem !important;
    line-height: 4.7rem !important;
    margin-bottom: 0% !important;
  }
  .counter_bck {
    font-size: 4.3rem;
  }
  .pd {
    padding: 2rem;
  }
  .culture_title {
    font-size: 2.2rem;
  }
  .video {
    height: 142%;
  }
  .prf_heading {
    text-align: center;
    margin-bottom: 0rem !important;
  }
  .photo {
    padding: 1rem 3rem;
  }
  .photo_title {
    margin-top: 0.5rem;
  }
  .photo_box {
    margin-bottom: 1rem;
  }
}
.blueclr {
  color: #2d94f3;
}

.icon {
  width: 4%;
}

.front_bg {
  background-color: #f1f6fc;
}

.wht_bg {
  background-color: white;
  padding: 4rem 4rem 2rem;
  border-radius: 1rem;
}

.tech_ic {
  margin-left: 4rem;
}

.oc_icon1 {
  width: 45%;
}

.oc_icon2 {
  width: 25%;
}

.oc_box {
  padding-top: 5rem;
}

.oc_bck {
  background-image: url(/images/pattern-6.svg);
  background-size: cover;
}

.oc_btn {
  border: 2px solid #2d94f3;
  padding: 0.7rem 2rem;
  color: #2d94f3;
}

.oc_mrg {
  margin-top: 5rem;
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 114rem !important;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100rem !important;
  }
  .icon {
    width: 5%;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 85rem !important;
  }
  .icon {
    width: 6%;
  }
  .oc_icon1 {
    width: 67%;
  }
  .oc_icon2 {
    width: 34%;
  }
}
@media only screen and (max-width: 799px) {
  .container {
    max-width: 70rem !important;
  }
  .icon {
    width: 7%;
  }
  .tech_section {
    margin: 0 !important;
    padding: 2rem 0rem;
  }
  .oc_icon1 {
    width: 80%;
  }
  .oc_icon2 {
    width: 44%;
  }
  .jc {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 51rem !important;
  }
  .title h4 {
    font-size: 2.5rem;
  }
  .wht_bg {
    padding: 4rem 1rem 2rem;
  }
  .icon {
    width: 15%;
  }
  .tech_section {
    margin: 0 !important;
    padding: 2rem 0rem;
  }
  .tech_ic {
    margin-left: 3.6rem;
  }
  .oc_icon1 {
    width: 92%;
  }
  .oc_icon2 {
    width: 65%;
  }
  .oc_box {
    padding-top: 3rem;
  }
  .oc_btn {
    padding: 0.5rem 1.5rem;
  }
}
.cont_mrg {
  margin-top: 4rem;
}

.cont_bck {
  background-image: url(../images/prject_img/bg16.jpg);
  background-size: cover;
}

.cont_content {
  padding: 4rem;
  background-color: rgba(23, 23, 23, 0.5137254902);
  border-radius: 1rem;
}

.option {
  background-color: rgba(245, 245, 245, 0.5019607843);
  padding: 2.1rem !important;
  border-radius: 0.5rem;
}

.option_title {
  margin-bottom: 0.5rem !important;
}

.cont_card {
  background-color: rgba(42, 44, 44, 0.462745098);
  color: rgb(75, 72, 72);
  padding: 4rem;
  border-radius: 0.5rem;
}

.cont_input {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.3rem !important;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2196078431);
}

.cont_input::placeholder, .cont_textarea::placeholder {
  color: rgba(221, 220, 220, 0.591);
}

.lbl {
  color: rgba(235, 240, 237, 0.8509803922);
}

.cont_email {
  padding: 0.7rem 0rem 0.7rem 0.7rem;
}

.cont_textarea {
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.2196078431);
}

.cont_btn {
  background-color: rgba(248, 89, 89, 0.8941176471) !important;
  border: none;
  color: #fff;
}

.cont_btn:hover {
  background-color: rgba(0, 0, 0, 0.747) !important;
  color: rgba(255, 255, 255, 0.87);
}

.cont_input:focus, textarea:focus {
  outline: none;
}

.cont_icon {
  padding: 0rem 0.5rem;
}

@media only screen and (max-width: 576px) {
  .cont_content {
    padding: 3rem 2rem;
  }
  .mt {
    margin-top: 2rem;
  }
  .cont_card {
    padding: 1.5rem;
  }
  .cont_input {
    width: 100%;
  }
  .pzero {
    padding: 0;
  }
  .cont_textarea {
    width: inherit;
  }
  .pd {
    padding: 0rem 0.5rem;
  }
}
.nav_link {
  padding: 0rem 0.9rem !important;
  color: whitesmoke;
  font-size: 1.5rem;
}

.nav_link:hover {
  color: #f6f2ef;
  border-bottom: 2px solid #f6f2ef;
  transition: all ease-in-out 0.2s;
}

.nav_btn {
  border-radius: 0.7rem;
  padding: 0.5rem 1.3rem !important;
  background-color: transparent;
  color: white;
  border: 0.1px solid whitesmoke;
}

.nav_btn:hover {
  background-color: rgba(248, 89, 89, 0.8941176471);
  border: none;
}

.nav_bar {
  font-size: 3rem;
}

.hero_bg {
  background-image: url(images/prject_img/bg18.jpg);
  background-size: cover;
}

.hero_title {
  padding: 8rem 0rem;
}

.hero_btn {
  padding: 0.9rem 1.2rem;
  background-color: white;
  border-radius: 0.3rem;
  color: #777777;
  font-size: 1.5rem;
  align-items: center;
}

.hero_btn:hover {
  background-color: rgba(248, 89, 89, 0.8941176471);
  color: rgb(242, 240, 240);
}

.hero_icon {
  width: 2.2rem;
  color: #777777;
}

.hero_links, a {
  margin-right: 2rem;
}

.form-control {
  padding: 1rem 0rem;
  padding-right: 12rem;
  padding-left: 2.5rem;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  color: #777777;
}

.icon {
  position: absolute;
  left: 53%;
  bottom: 37%;
  font-size: 1rem;
  color: #a9a9a9;
}

.search-submit {
  width: 18%;
  background: rgba(248, 89, 89, 0.8941176471);
  border: 1px solid #915c5c;
  color: #fff;
  padding: 2rem 2rem;
}

.svc_card {
  margin: 0.7rem;
  min-height: 33rem;
  background-color: #fff;
  padding: 3.5rem;
  font-weight: 350;
  border-radius: 0.3rem;
}
.svc_card--title {
  font-size: 1.9rem !important;
  color: rgba(29, 29, 29, 0.888);
}
.svc_card--icon {
  width: 6rem;
}

.svc_card:hover {
  box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.89);
  background-color: rgba(248, 89, 89, 0.8941176471);
  color: #fff;
}

.bg_light {
  background-color: #f8faff;
}

.carousel-control-prev-icon {
  background-color: rgba(118, 114, 114, 0.521);
  border-radius: 50%;
  padding: 1.3rem !important;
}

.carousel-control-next-icon {
  background-color: rgba(118, 114, 114, 0.521);
  border-radius: 50%;
  padding: 1.3rem !important;
}

.carousel-item img {
  height: 60rem !important;
}

.card2_icon {
  width: 1.8rem;
}

.card2_btn {
  padding: 0.3rem !important;
  font-size: 1.2rem;
  background-color: #8bc34a;
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.cl {
  color: #2f89fc;
}

.imgh {
  height: 25rem;
}

.imghe {
  height: 20rem;
}

.bora {
  border-radius: 1.2rem;
}

.scht {
  height: 50rem;
}

@media screen and (max-width: 780px) {
  .imgh {
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */