

@media screen and (max-width: 576px) {
 .container{
   max-width: 97% !important;
 }
 .hero_title{
   padding: 4rem 0rem;
   margin-bottom: 2rem;
 }
 .h1_jumbo{
   font-size: 3.1rem;
 }
 .hero_btn{
   width: 40%;
 }

}

