// contact us

.cont_mrg {
  margin-top: 4rem;
}
.cont_bck {
  background-image: url(../images/prject_img/bg16.jpg);
  background-size: cover;
}
.cont_content {
  padding: 4rem;
  background-color: #17171783;
  border-radius: 1rem;
}
.option {
  background-color: #f5f5f580;
  padding: 2.1rem !important;
  border-radius: 0.5rem;
}
.option_title {
  margin-bottom: 0.5rem !important;
}

//contact card
.cont_card {
  background-color: #2a2c2c76;
  color: rgb(75, 72, 72);
  padding: 4rem;
  border-radius: 0.5rem;
}
.cont_input {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.3rem !important;
  width: 100%;
  background-color: #ffffff38;
}
.cont_input::placeholder,.cont_textarea::placeholder{
  color: rgba(221, 220, 220, 0.591);
}
.lbl{
  color: #ebf0edd9;
}
.cont_email {
  padding: 0.7rem 0rem 0.7rem 0.7rem;
}
.cont_textarea {
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  padding: 0.7rem;
  background-color: #ffffff38;
}

.cont_btn {
  background-color: #f85959e4 !important;
  border: none;
  color: #fff;
}
.cont_btn:hover {
  background-color: rgba(0, 0, 0, 0.747) !important;
  color: rgba(255, 255, 255, 0.87);
}
.cont_input:focus,textarea:focus {
  outline: none;
}
.cont_icon {
  padding: 0rem 0.5rem;
}

@media only screen and (max-width: 576px) {
  .cont_content {
    padding: 3rem 2rem;
  }
  .mt {
    margin-top: 2rem;
  }
  .cont_card {
    padding: 1.5rem;
  }
  .cont_input {
    width: 100%;
  }

  .pzero {
    padding: 0;
  }
  .cont_textarea {
    width: inherit;
  }
  .pd {
    padding: 0rem 0.5rem;
  }
}
// contact us