// web development starts
.blueclr{
    color: #2d94f3;
}
.icon{
    width: 4%;
}
.front_bg{
    background-color: #f1f6fc;
}
.wht_bg{
    background-color: white;
    padding: 4rem 4rem 2rem;
    border-radius: 1rem;
}
.tech_ic{
    margin-left: 4rem;
}
// web development section ends

// our clients
.oc_icon1{
    width: 45%;
}
.oc_icon2{
    width: 25%;
}

.oc_box{
    padding-top: 5rem;
}
.oc_bck{
    background-image: url(/images/pattern-6.svg);
    background-size: cover;
}
.oc_btn{
 border: 2px solid #2d94f3;
 padding: 0.7rem 2rem;
 color: #2d94f3;

}
.oc_mrg{
  margin-top: 5rem;
}

@media only screen and (max-width: 1440px){
    .container{
        max-width: 114rem !important;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        max-width: 100rem !important;
    }
    .icon{
        width: 5%;
    }
}
@media only screen and (max-width: 992px){
    .container{
        max-width: 85rem !important;
    }
    .icon{
        width: 6%;
    }
    .oc_icon1{
        width:67%;
    }
    .oc_icon2{
        width: 34%;
    }
}
@media only screen and (max-width: 799px){
    .container{
        max-width: 70rem !important;
    }
    .icon{
        width: 7%;
    }
    .tech_section{
        margin: 0 !important;
        padding: 2rem 0rem;
    }
    .oc_icon1{
        width:80%;
    }
    .oc_icon2{
        width: 44%;
    }
    .jc{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 576px){
    .container{
        max-width: 51rem !important;
    }
    .title h4{
        font-size: 2.5rem;
    }
    // .container{
    //     max-width: 30rem !important;
    // }
    .wht_bg{
        padding: 4rem 1rem 2rem;
    }
    .icon{
        width: 15%;
    }
    .tech_section{
        margin: 0 !important;
        padding: 2rem 0rem;
    }

    .tech_ic{
        margin-left: 3.6rem;
    }

    // our client
    .oc_icon1{
        width: 92%;
    }
    .oc_icon2{
        width: 65%;
    }
    .oc_box{
        padding-top: 3rem;
    }
    .oc_btn{
        padding: 0.5rem 1.5rem ;
    }
}