.hgt{
    height: 40rem;
}
.hgt1{
    height: 20rem;
}
.oh{
    overflow: hidden;
}
.grid_text{
   bottom: 4%;
   left: 3%;
   color: white;
}
.grid_tag{
    background-color: rgb(88, 88, 88);
    width: max-content;
    font-size: 0.9rem !important;
    padding: 0.3rem !important;
    border-radius: 0.3rem;
}
.grid_sq{
    left: 5%;
    color: white;
    top: 60%;
}

.grd{
    background-image: linear-gradient(black black);
}