//header
  .nav_link{
    padding: 0rem 0.9rem !important;
    color: whitesmoke;
    font-size: 1.5rem;
  }
  .nav_link:hover{
    color: #f6f2ef;
    border-bottom: 2px solid #f6f2ef;
    transition: all ease-in-out .2s;

  }
  .nav_btn{
    // margin: 0rem 0.1rem;
    border-radius: 0.7rem;
    padding: 0.5rem 1.3rem !important;
    background-color: transparent;
    color: white;
    border: 0.1px solid whitesmoke;
  }
  .nav_btn:hover{
    background-color: #f85959e4;
    border: none;
  }

  .nav_bar{
    font-size: 3rem;
  }

  //hero section
  .hero_bg{
    background-image: url(images/prject_img/bg18.jpg);
    background-size: cover;
  }
  .hero_title{
    padding: 8rem 0rem;
  }
  .hero_btn{
   padding: 0.9rem 1.2rem;
   background-color: white;
   border-radius: 0.3rem;
   color:#777777;
   font-size: 1.5rem;
   align-items:center;
  }
  .hero_btn:hover{
    background-color: #f85959e4;
    color: rgb(242, 240, 240);
  }
  .hero_icon{
    width: 2.2rem;
    color: #777777;
  } 
  .hero_links,a{
    margin-right: 2rem;
  }

  //form
  .form-control{
      padding: 1rem 0rem;
      padding-right: 12rem;
      padding-left: 2.5rem;
      font-size: 1.4rem;
      border-radius: 0.2rem;
      color:#777777;
  }
  .icon{
      position: absolute;
      left: 53%;
      bottom:37%;
      font-size:1rem;
      color: #a9a9a9;
  }
  .search-submit{
      width:18%;
      background: #f85959e4;
      border:1px solid #915c5c;
      color:#fff;
      padding: 2rem 2rem;
  }

  // card1 section
.svc_card {
  // width: 32rem;
  margin: 0.7rem;
  min-height: 33rem;
  background-color: #fff;
  padding: 3.5rem;
  font-weight: 350;
  border-radius: 0.3rem;

  &--title {
    font-size: 1.9rem !important;
    color: rgba(29, 29, 29, 0.888);
  }

  &--icon {
    width: 6rem;
  }
}
.svc_card:hover{
  box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.89);
  background-color: #f85959e4;
  color: #fff;
}
.bg_light{
  background-color:#f8faff;
}

//carousal
.carousel-control-prev-icon{
  background-color: rgba(118, 114, 114, 0.521);
  border-radius: 50%;
  padding: 1.3rem !important;
}
.carousel-control-next-icon{
  background-color: rgba(118, 114, 114,0.521);
  border-radius: 50%;
  padding: 1.3rem !important;
}
.carousel-item img{
  height: 60rem !important;
}
  

 //special offers
.card2_icon{
  width: 1.8rem;
}
.card2_btn{
  padding: 0.3rem !important;
  font-size: 1.2rem;
  background-color: #8bc34a;
  color:white;
  border: none; 
  border-radius: 0.5rem;

}
.cl{
  color: #2f89fc;
}
.imgh{
  height: 25rem;
}
.imghe{
  height: 20rem;
}
.bora{
  border-radius: 1.2rem;
}
.scht{
  height: 50rem;
}



  

@media screen and (max-width: 780px) {
  .imgh{
      height: auto;
  }
}